/*Empty CSS file for your own CSS*/

body{background: #f3f8fe; color: #333; font-size: 13px; padding-top: 60px; padding-bottom: 60px;}
h1, h2, h3, h4, h5, h6{color: #666;}
h2{font-size: 24px;}
h3{font-size: 21px;}
h4{font-size: 17px; color: #999;}
.form-control, label {color: #54698d;}
.form-control, .input-group-addon{font-size: 12px;color: #54698d;}


textarea{min-height: 150px;}
a{color: #b50f46 /*#fd5c63*/; text-decoration: none;}
a:hover, a:focus{color: #fd5c63}

.container{max-width: 100%;}
.container-border{ background: #fff; box-shadow: 0px 2px 4px 1px rgba(43, 59, 93, .29); padding: 30px; margin-bottom: 30px; border-radius: 3px;}

.navimg{ max-height: 60px; padding: 10px ;}

.navbar-default{background: #001b3d;box-shadow: 0px 1px 4px rgba(43, 59, 93, .6); border-radius: 0;}
.navbar-center {color: #fff; text-transform: uppercase;  margin-top: 19px; margin-bottom: 0px; text-align: center; position:fixed; width: 100%;}

#tourCodeHeader{display: inline; margin-right: 10px;}
#tourPipeHeader{display: inline;}
#tourNameHeader{display: inline; margin-left: 10px;}

.navbar-right{margin-right: 15px;}

.fixedtop{ position: fixed; z-index: 100; background-color: #fff; padding-top: 10px; min-width: 100%;}


.btn{box-shadow: 0px 1px 2px rgba(43, 59, 93, .29);}

.tab-content{margin-top: 120px;}

.nav-tabs{border-bottom: 1px solid #ccc;}
.nav-tabs > li{display: inline-block; float: none; background: #fff; font-size: 16px;}
	.nav-tabs > li.active, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background: #f9f9fb; border-color:#cccccc; border-bottom: none; }
	.nav-tabs > li > a{color:#001b3d; }

#footer{width: 100%; position: fixed; bottom: 0; padding-top: 15px; padding-bottom: 5px; border-top: 1px solid #ccc; z-index: 10; background-color: #eee;}


#illusion{width: 100%; height: 20px; margin-bottom: 56px; position: fixed; bottom: 0; padding-top: 15px; padding-bottom: 15px; z-index: 10; border: 0px !important; 
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.6)), color-stop(40%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.8) 40%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.8) 40%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.8) 40%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.8) 40%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.form-control:focus{border: 1px solid #fd5c63;}

.btn-default, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{color:#555; background: #ecf0f1; border-color: #dce4ec;}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{background: #dedede; color: #555;}


.catalogLabel{margin-top: 10px;}
.catalogInput .input-group{width: 120px;}

	#flyoutNav{position: fixed; left: 0; top: 20%; background: #ecf0f1; width: 200px; padding: 15px 15px 0px 15px; border-radius:0  3px 3px 0 ;}
		#flyoutNav h4{color: #333; margin: 0; padding: 0; line-height: 1em; }
		#flyoutNav ul{padding: 10px; margin: 0;}
		#flyoutNav li{ padding:0 0 8px 5px; margin-bottom: 8px; border-bottom: 1px solid #ccc;}
		#flyoutNav li:last-child{border: none; margin-bottom: 0; padding-bottom: 0;}
		#flyoutNav a, #flyoutNav a .glyphicon{color: #2c3e50 !important; cursor: pointer;}
		
#flyoutNav.closed{left: -160px;background: #b50f46;}
#flyoutNav.closed:hover{background: #fd5c63;}

#flyoutNav.closed a .glyphicon{color: #fff !important;}

.input-group-addon{ background: #E2EFFF ;}



/* --- Classes --- */
.clear { clear:both;  overflow:hidden; }
.entry{margin-bottom: 15px; border-bottom: 1px solid #dedede; padding-bottom: 15px;}


.dkred{color: #b50f46 !important;}
.red{color: #ff0000 !important;}
.pink{color: #fd5c63 !important;}
.green{color: #09b56a !important;}
.blue{}
.ltblue{}


.shadow{box-shadow: 0px 1px 2px rgba(43, 59, 93, .29);}
.displayNone{display: none !important;}

.alignLeft { float:left; margin:0 15px 15px 0; }
.alignRight { float:right; margin:0 0 15px 15px; }

.textCenter, .center{text-align: center; margin: 0 auto;}
.textRight{text-align: right;}

.bold{font-weight: bold;}
.italic{font-style: italic;}
.caps{text-transform: capitalize;}
.lowercase{text-transform: lowercase;}
.uppercase{text-transform: uppercase;}

.noBull{list-style-type: none;}
.noBorder{border: none;}

.error{ color: #ff0000; }

.remove{ color: #ccc; }
	.remove:hover{ color: #ff1744; }

.borderRight{border-right: 1px solid #ededed;}

.pad0{padding: 0;}
.pad15{padding: 0px 15px;}

.bottom60{margin-bottom:60px;}
.bottom45{margin-bottom:45px;}
.bottom30{margin-bottom:30px;}
.bottom15{margin-bottom:15px;}
.bottom10{margin-bottom:10px;}
.bottom5{margin-bottom:5px;}
.bottom0{margin-bottom:0;}

.shadow{box-shadow: 0px 2px 4px 1px rgba(43, 59, 93, .29);}


