/*Empty CSS file for your own CSS*/

body{background: #f9f9fb; font-size: 15px; padding-top: 60px; padding-bottom: 60px;}

.container{max-width: 100%;}
.container-border{ background: #fff; box-shadow: 0px 1px 2px rgba(43, 59, 93, .29); padding-top: 15px; padding-bottom: 15px; margin-bottom: 30px;}

#pageHeader{background: #fff;padding-top: 30px;}

.navimg{
    max-height: 60px; padding: 10px ;
}

.navbar-default{background: #001b3d;box-shadow: 0px 1px 4px rgba(43, 59, 93, .6); border-radius: 0;}

/*.btn{box-shadow: 0px 1px 2px rgba(43, 59, 93, .29);}*/


.nav-tabs{border-bottom: 1px solid #ccc; }
.nav-tabs > li{display: inline-block; float: none;}

.nav-tabs > li{background: #fff; font-size: 26px;}
.nav-tabs > li.active, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{background: #f9f9fb; border-color:#cccccc; border-bottom: none; }
.nav-tabs > li > a{color:#001b3d; }


#footer{width: 100%; position: fixed; bottom: 0; padding-top: 15px; padding-bottom: 15px; border: 0px !important; 
	background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.6) 20%, rgba(255,255,255,0.8) 40%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(20%,rgba(255,255,255,0.6)), color-stop(40%,rgba(255,255,255,0.8)), color-stop(100%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.8) 40%,rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.8) 40%,rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.8) 40%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.6) 20%,rgba(255,255,255,0.8) 40%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
}

.form-control:focus{border: 1px solid green;}

.btn-default, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{color:#555; background: #ecf0f1; border-color: #dce4ec;}
.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default.focus:active, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{background: #dedede; color: #555;}


/* --- Classes --- */
.clear { clear:both;  overflow:hidden; }
.entry{margin-bottom: 15px; border-bottom: 1px solid #dedede; padding-bottom: 15px;}

.shadow{box-shadow: 0px 1px 2px rgba(43, 59, 93, .29);}

.displayNone{display: none !important;}

.alignLeft { float:left; margin:0 15px 15px 0; }
.alignRight { float:right; margin:0 0 15px 15px; }

.textCenter, .center{text-align: center; margin: 0 auto;}
.textRight{text-align: right;}

.bold{font-weight: bold;}
.italic{font-style: italic;}
.caps{text-transform: capitalize;}
.lowercase{text-transform: lowercase;}
.uppercase{text-transform: uppercase;}

.noBull{list-style-type: none;}
.noBorder{border: none;}

.error { color: #ff0000; }

.pad0{padding: 0;}
.pad15{padding: 0px 15px;}

.bottom60{margin-bottom:60px;}
.bottom45{margin-bottom:45px;}
.bottom30{margin-bottom:30px;}
.bottom15{margin-bottom:15px;}
.bottom10{margin-bottom:10px;}
.bottom5{margin-bottom:5px;}
.bottom0{margin-bottom:0;}

.navbar-center {
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 50%;
    position:fixed
}

.navbar-right{
    margin-right: 10px;
}



.onoffswitch {
    position: relative; width: 40px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border-radius: 50px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 10px; padding: 0; line-height: 10px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color:dodgerblue; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 20px; margin: -5px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 46px;
    border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
    background-color: white; 
    border-color: dodgerblue;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,.29);
}